* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-foreground: #eee;
  --light-background: #f8f9fa;
  --dark-foreground: #343a40;
  --dark-background: #111;
}

body {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--dark-background);
  background-image: url(../img/screenshot_1723752769100.png);
  background-position: center;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  color: var(--light-foreground);
  overflow-x: hidden;
}

p {
  width: 100%;
  text-align: center;
  overflow-x: auto;
}

a {
  color: var(--info-color);
  font-weight: bold;
  /* No underline */
  text-decoration: none;
}

h1 {
  text-align: center;
  height: 10vh;
}

body > * {
  max-width: min(80%, 800px);
}

button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--light-foreground);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

img {
  border-radius: 1%;
}

main {
  overflow-y: auto;
  scrollbar-width: none;
  height: 80vh;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: color-mix(
    in srgb,
    var(--dark-background) 50%,
    transparent 50%
  );
  height: fit-content;
}

.danger {
  background-color: var(--danger-color);
}

.warning {
  color: var(--warning-color);
}

#load_button {
  width: 100%;
}
